@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Outfit:wght@100..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

* {
    outline: red solid 1px;
  }

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(20, 16, 24);
    font-family: 'Nunito', sans-serif;
}

.featLogin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 1.5em;
    border-radius: 1.5em;
    -webkit-border-radius: 1.5em;
    -moz-border-radius: 1.5em;
    -ms-border-radius: 1.5em;
    -o-border-radius: 1.5em;
}

p {
    margin-bottom: 1em;
}

.featForm {
    display: flex;
    flex-direction: column;
    height: 12em;
    margin-bottom: 1em;
}

.loginButton {
    padding: 1.5%;
    font-size: 1.15rem;
    font-weight: 800;
    color: #f0f8ff;
    background-color: #0070F0;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

input.userEmail {
    width: 20em;
    height: 2.5em;
    font-size: 1rem;
    margin-bottom: 0.5em;
}

input.userPassword {
        width: 20em;
        height: 2.5em;
        font-size: 1rem;
        margin-bottom: 1em;
}

input.rememberMe {
        margin-bottom: 1em;
}
